

<div class="gtavpage">
  <div class="gtavhead">
    <h1>Categories</h1>
  </div>
<div class="updationlist">
 <div class="trending">

<div class="tlist">
  <ul>
    <li>
<div class="gname"> <h2>Flight  Simulator </h2></div>
<div class="image"><img [src]="aimages[0]"  alt="crimeboss" width="800px" height="600px" style="margin-left:30% ; border-radius:50%; margin-bottom: 20px;"></div>
<div class="description">
  The Microsoft Flight Simulator 40th Anniversary Edition will feature, for the first time since 2006, helicopters and gliders, the most requested enhancements by our community. In addition to the helicopters and gliders, we will introduce another highly requested community feature: a true-to-life airliner, the sophisticated Airbus A-310, where nearly every single button works just as expected.

  Celebrate the storied history of aviation with seven famous historical aircraft in the Microsoft Flight Simulator 40th Anniversary Edition. These aircraft include the 1903 Wright Flyer, the 1915 Curtiss JN-4 Jenny, the 1927 Ryan NYP Spirit of St. Louis, the 1935 Douglas DC-3, the beautiful 1937 Grumman G-21 Goose, the 1947 Havilland DHC-2 Beaver, and the famous 1947 Hughes H-4 Hercules (the largest seaplane and largest wooden plane ever made), also known as the Spruce Goose.

</div>



    </li>
    <li>
      <div class="requirements">
        <div class="requirementshead">
          <h3>Requirements</h3>
        </div>
          <ul>
          <li>OSWindows 10. OSWindows 10.</li>
          <li>ProcessorIntel Core i7-4790 or AMD Ryzen 5 1600. ProcessorIntel Core i5-10600K or AMD Ryzen 5 3600XT.</li>
          <li>Memory16 GB RAM. Memory16 GB RAM.</li>
          <li>Storage: 100 GB available space.</li>
          <li>Direct XDirectX 12. Direct XDirectX 12.</li>
          <li>GraphicsNVIDIA GeForce GTX 1650, 4 GB or AMD Radeon RX 570, 4 GB.</li>
    </ul>
      </div>
    </li>
    <li>
      <div class="images">
        <h1>Related Images</h1>
        <div class="imageslist">
          <li><img [src]="aimages[1]" alt="crimeboss" width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[2]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[3]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[4]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
          <li><img [src]="aimages[5]" alt="crimeboss"  width="300px" height="200px" style="border-radius: 50%;"></li>
        </div>
      </div>
    </li>

   <li>
    <!-- genere -->
    <div class="genere">
  <h2><span>Genere: </span>Open World,Relistic Adventure,Experience,Driving</h2>
</div>

   </li>
   <li>
    <div class="like">
      <h2>

          <i class="fa-solid fa-star-half-stroke"></i> 98% Liked this Game</h2>
    </div>
   </li>
   <li>

    <div class="ratingstar">
      <h2>Rating Star</h2>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
      </div>

   </li>

   <li>
<div class="imdb">
  <h2><span>Imdb </span><i class="fa-solid fa-star-half-stroke"></i> 10/10</h2>
</div>
   </li>
   <li>

    <div class="cast">
      <h1>Developers:</h1>
      <ul>
        <li><img [src]="castimages[0]" alt="Ellen" width="100px" height="100px" style="border-radius: 50%;">

         <h4>Ellen</h4> </li>

        <li><img [src]="castimages[1]" alt="Damon" width="100px" height="100px" style="border-radius: 50%;">

          <h4>Damon</h4></li>
        <li><img [src]="castimages[2]" alt="Mark" width="100px" height="100px" style="border-radius: 50%;">

          <h4>Mark</h4></li>
        <li><img [src]="castimages[3]" alt="Steve" width="100px" height="100px" style="border-radius: 50%;">

          <h4>Steve</h4></li>
        <li><img [src]="castimages[4]" alt="Karin" width="100px" height="100px" style="border-radius: 50%;">

          <h4>Karin</h4></li>
      </ul>
    </div>

   </li>
    <li>
      <div class="price">
        <h3>Price:</h3>
      <h2>Rs:2300</h2>
      </div>
    </li>
  </ul>
</div>

<div class="purchase">
  <h2>Purchase:</h2>
</div>
<!-- <a href="" routerLink=""><button><i class="fa-solid fa-cart-shopping" style="color:orangered"></i> Buy</button></a> -->

<p class="card-text"  style="color:white; margin-top:1%; margin-left: 100px;">
  <button    routerLink="/paymentpage"    type="button" class="btn btn-success btn-sm" style="padding: 2px 20px; font-weight: bold; box-shadow: 2px 4px 2px 4px black;margin-top: -2%;">Buy</button>
</p>
</div>

</div>

</div>

