<style>
  h5{
    margin-top:1%;
    color:yellow;
  }
</style>




<div class="card text" style="background: transparent; color: whitesmoke;">
  <div class="card-header" style="font-weight: bold;text-align: center;">
  Privacy Policy
  </div>
  <div class="card-body">
    <h5 class="card-title" style="text-align: center;">Policies</h5>
    <div class="card-text">
      <p class="cart-text" style="padding: 10px;">
        Valve respects the privacy of its online visitors and customers of its products and services and complies with applicable laws for the protection of your privacy, including, without limitation, the California Consumer Privacy Act ("CCPA"), the European Union General Data Protection Regulation ("GDPR") and the UK GDPR.
      </p>

      <ul style="list-style-type:square;">
        <li>

        <h5 style="font-weight: bold;"> Definitions</h5>

Wherever we talk about Personal Data below, we mean any information that can either itself identify you as an individual ("Personally Identifying Information") or that can be connected to you indirectly by linking it to Personally Identifying Information. Valve also processes anonymous data, aggregated or not, to analyze and produce statistics related to the habits, usage patterns, and demographics of customers as a group or as individuals. Such anonymous data does not allow the identification of the customers to which it relates. Valve may share anonymous data, aggregated or not, with third parties.

Other capitalized terms in this Privacy Policy shall have the meanings defined in the Steam Subscriber Agreement ("SSA").

        </li>
        <li>
          <h5 style="font-weight: bold;">Why Valve Collects and Processes Data</h5>

When setting up an Account, Valve will collect your email address and country of residence. You are also required to choose a user name and a password. The provision of this information is necessary to register a Steam User Account. During setup of your account, the account is automatically assigned a number (the "Steam ID") that is later used to reference your user account without directly exposing Personally Identifying Information about you.
We do not require you to provide or use your real name for the setup of a Steam User Account.

        </li>
        <li>
          <h5 style="font-weight: bold;"> Transaction and Payment Data</h5>

          In order to make a transaction on Steam (e.g. to purchase Subscriptions for Content and Services or to fund your Steam Wallet), you may need to provide payment data to Valve to enable the transaction. If you pay by credit card, you need to provide typical credit card information (name, address, credit card number, expiration date and security code) to Valve, which Valve will process and transmit to the payment service provider of your choice to enable the transaction and perform anti-fraud checks. Likewise, Valve will receive data from your payment service provider for the same reasons.
        </li>

        <li>

          <h5 style="font-weight: bold;">  Other Data You Explicitly Submit</h5>

          We will collect and process Personal Data whenever you explicitly provide it to us or send it as part of communication with others on Steam, e.g. in Steam Community Forums, chats, or when you provide feedback or other user generated content.
        </li>
        <li>
          <h5 style="font-weight: bold;"> Your Use of the Spirited Client and Websites</h5>

          We collect a variety of information through your general interaction with the websites, Content and Services offered by Steam. Personal Data we collect may include, but is not limited to, browser and device information, data collected through automated electronic interactions and application usage data.
Likewise, we will track your process across our websites and applications to verify that you are not a bot and to optimize our services.


        </li>
        <li>
          <h5 style="font-weight: bold;"> Your Use of Games and other Subscriptions</h5>
          In order to provide you with services, we need to collect, store and use various information about your activity in our Content and Services. "Content-Related Information" includes your Steam ID, as well as what is usually referred to as "game statistics". By game statistics we mean information about your games' preferences, progress in the games, playtime, as well as information about the device you are using, including what operating system you are using, device settings, unique device identifiers, and crash data.

        </li>

        <li>
 <h5 style="font-weight: bold;"> Tracking Data and Cookies</h5>

 We use "Cookies", which are text files placed on your computer, and similar technologies (e.g. web beacons, pixels, ad tags and device identifiers) to help us analyze how users use our services, as well as to improve the services we are offering, to improve marketing, analytics or website functionality. The use of Cookies is standard on the internet. Although most web browsers automatically accept cookies, the decision of whether to accept or not is yours. You may adjust your browser settings to prevent the reception of cookies, or to provide notification whenever a cookie is sent to you.
You can manage the use of optional cookies by clicking on the "Cookies setting" page accessible via the cookie banner displayed when you first visit our website and at any time through the Cookie Settings page available here

        </li>

        <li>
 <h5 style="font-weight: bold;"> Information Required to Detect Violations</h5>

 We collect certain data that is required for our detection, investigation and prevention of fraud, cheating and other violations of the SSA and applicable laws ("Violations"). This data is used only for the purposes of detection, investigation, prevention and, where applicable, acting on of such Violations and stored only for the minimum amount of time needed for this purpose. If the data indicates that a Violation has occurred, we will further store the data for the establishment, exercise or defense of legal claims during the applicable statute of limitations or until a legal case related to it has been resolved. Please note that the specific data stored for this purpose may not be disclosed to you if the disclosure will compromise the mechanism through which we detect, investigate and prevent such Violations.


        </li>

        <li>
          <h5 style="font-weight: bold;"> How Long We Store Data</h5>

          We will only store your information as long as necessary to fulfil the purposes for which the information is collected and processed or — where the applicable law provides for longer storage and retention period — for the storage and retention period required by law. After that your Personal Data will be deleted, blocked or anonymized, as provided by applicable law.

        </li>


        <li>
          <h5 style="font-weight: bold;"> Your Rights and Control Mechanisms</h5>

          The data protection laws of the European Economic Area, United Kingdom, California, and other territories grant their residents certain rights in relation to their Personal Data. While other jurisdictions may provide fewer statutory rights, we make the tools designed to exercise such rights available to our customers worldwide. (When we talk about the GDPR in this section, we mean the version of the GDPR that applies to you in the EU or UK).

        </li>
      </ul>



    </div>
    <div class="card-text-center">
      <a href="/src/app/home/home.component.html" class="btn btn-success ">Go Homepage</a>
    </div>

  </div>
  <div class="card-footer text-muted text-center" style="color: whitesmoke;background: lavender;">
   Thanks For Visiting Our Website
  </div>
</div>
