<app-navbar></app-navbar>


<div class="whole-container">

        <div class="head-container">

            <div class="head-box">

          <div class="h1">
          <h1>
            <button type="button" class="btn btn-light btn-lg" style="padding:5px 10px;color: black; font-weight: bolder; border: 1px solid black;"><i class="fa-solid fa-shield-halved"></i>&nbsp;SPIRITED</button>

          </h1>
        </div>

        <div class="headpara">

          <div class="card" style="width: 50rem; border:2px solid black; padding:20px; box-shadow: 2px 4px 3px 4px black; background: transparent; color:whitesmoke; ">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;font-weight:bolder; font-size: larger; color:yellow">THE GAME ZONE</h5>
              <h6 class="card-subtitle mb-2 text-muted"></h6>
              <p class="card-text"><i class="fa-solid fa-headset" style="color: red;"></i>&nbsp;&nbsp;&nbsp;Compete with <span>Rakuto</span> in this immense challenge and be the winner of all TIme.</p>
              <p class="card-text"><i class="fa-solid fa-headset"  style="color: red;"></i>&nbsp;&nbsp;&nbsp;Our Top Players are waiting for your challenge, click thebutton below to get started.</p>
                <div class="button" style="margin-left: 35%;">
                  <button  routerLink="/login" type="button" class="btn btn-primary btn-sm" style="padding: 5px 20px;font-weight: bolder; letter-spacing: 2px;margin-top: 20px;box-shadow: 2px 4px 2px 4px black;">LOGIN</button>&nbsp;&nbsp;
                <button  routerLink="/register"  type="button" class="btn btn-primary btn-sm" style="padding: 5px 20px;font-weight: bolder; letter-spacing: 2px; margin-top: 20px;box-shadow: 2px 4px 2px 4px black;">SIGNUP</button>
                </div>

            </div>
          </div>



          </div>



        </div>

      </div>

      <!--Categories -->
      <div class="categories">
<div class="action-games-categories">
      <div class="action-games">
        <h1>Action Games</h1>
        <ul>
          <li>

            <div class="card" style="width: 15rem;"><img [src]="images[0]" class="card-img-top" alt="...">  </div>

          </li>

          <li>
            <div class="card" style="width: 15rem;"> <img [src]="images[1]" class="card-img-top" alt="...">  </div>


          <li>
            <div class="card" style="width: 15rem;"> <img [src]="images[2]" class="card-img-top" alt="...">  </div>


          <li>
            <div class="card" style="width: 15rem;"> <img [src]="images[3]" class="card-img-top" alt="...">  </div>




          </li>

          <li> <div class="card" style="width: 15rem;"> <img [src]="images[4]" class="card-img-top" alt="...">  </div>



          </li>

          <li><div class="card" style="width: 15rem;"> <img [src]="images[5]" class="card-img-top" alt="...">  </div>



          </li>

        </ul>

      </div>
    </div>

      <!-- Buy Option -->
    <div class="buyoption">
      <a routerLink="/login"><button>Buy</button></a>
    </div>


 <!-- Simulation Games -->

    <div class="action-games-categories">


      <div class="action-games">
        <h1>Simulation Games</h1>
        <ul>
          <li>
            <div class="card" style="width: 15rem;"> <img [src]="images[6]" class="card-img-top" alt="...">  </div>


          </li>

          <li><div class="card" style="width: 15rem;"> <img [src]="images[7]" class="card-img-top" alt="...">  </div>



          </li>

          <li>
            <div class="card" style="width: 15rem;"> <img [src]="images[8]" class="card-img-top" alt="...">  </div>



          </li>

          <li>
            <div class="card" style="width: 15rem;"> <img [src]="images[9]" class="card-img-top" alt="...">  </div>


          </li>

          <li>
            <div class="card" style="width: 15rem;"> <img [src]="images[10]" class="card-img-top" alt="...">  </div>



          </li>

          <li><div class="card" style="width: 15rem;"> <img [src]="images[11]" class="card-img-top" alt="...">  </div>



          </li>

        </ul>

      </div>
    </div>

      <!-- Buy Option -->
    <div class="buyoption">
      <a routerLink="/login"><button>Buy</button></a>
    </div>




    <!-- Adventure Games -->

    <div class="action-games-categories">



      <div class="action-games">
        <h1>Action-Adventure Games</h1>
        <ul>
          <li><div class="card" style="width: 15rem;"> <img [src]="images[12]" class="card-img-top" alt="...">  </div>



          </li>

          <li><div class="card" style="width: 15rem;"> <img [src]="images[13]" class="card-img-top" alt="...">  </div>



          </li>

          <li><div class="card" style="width: 15rem;"> <img [src]="images[14]" class="card-img-top" alt="...">  </div>


          </li>

          <li> <div class="card" style="width: 15rem;"> <img [src]="images[15]" class="card-img-top" alt="...">  </div>



          </li>

          <li><div class="card" style="width: 15rem;"> <img [src]="images[16]" class="card-img-top" alt="...">  </div>



          </li>

          <li><div class="card" style="width: 15rem;"> <img [src]="images[17]" class="card-img-top" alt="...">  </div>



          </li>

        </ul>

      </div>
    </div>

      <!-- Buy Option -->

    <div class="buyoption">
      <a routerLink="/login"><button>Buy</button></a>
    </div>


      <!-- Racing Games -->

    <div class="action-games-categories">
      <div class="action-games">
        <h1>Racing Games</h1>
        <ul>
          <li><div class="card" style="width: 15rem;"> <img [src]="images[18]" class="card-img-top" alt="...">  </div>


          </li>

          <li><div class="card" style="width: 15rem;"> <img [src]="images[19]" class="card-img-top" alt="...">  </div>


          </li>

          <li><div class="card" style="width: 15rem;"> <img [src]="images[20]" class="card-img-top" alt="...">  </div>



          </li>

          <li>
            <div class="card" style="width: 15rem;"> <img [src]="images[21]" class="card-img-top" alt="...">  </div>
             </li>

          <li>
            <div class="card" style="width: 15rem;"> <img [src]="images[22]" class="card-img-top" alt="...">  </div>
          </li>

          <li>
            <div class="card" style="width: 15rem;"> <img [src]="images[23]" class="card-img-top" alt="...">  </div>
   </li>

        </ul>

      </div>
    </div>


    <!-- Buy Option -->
    <div class="buyoption">
      <a routerLink="/login"><button>Buy</button></a>
    </div>

  </div>


  <!-- Footer -->

    <!-- <div class="footer">
      <div class="border-box">

      <footer>
        <div class="footer-list">
      <h3>Connect with us</h3>
        <ul>
          <li> <a routerLink=""><i class="fa-brands fa-instagram"></i> Instagram</a></li>
          <li><a routerLink=""><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
        </ul>
        <div class="services">
          <h3>Services</h3>
          <ul>

            <li><a routerLink="/login"><i class="fa-sharp fa-solid fa-right-to-bracket"></i> Login</a></li>
            <li><a routerLink="/register"><i class="fa-solid fa-registered"></i> Register</a></li>
            <li><a routerLink="/dashboard">Categories</a></li>

          </ul>
        </div>
        </div>

        <div class="mail">

          <h5>Author-Spirited:</h5>
            <form>
              <input type="email"  class="form-control" name="email"  id="" placeholder="spirited@gmail.com"  required>

            </form>
            <div class="sendbtn">
              <button>Send</button>
            </div>
      </div>
      <div class="needhelps">
        <h3>Need Helps</h3>
        <ul>

          <li><a routerLink="/footer">Privacy Policy</a></li>
          <li><a routerLink="/about">About us</a></li>

        </ul>

      </div>
    </footer>
  </div>
  </div> -->




  <!-- BootStrap -->

<div class="container my-5" style="margin-left: 15%; margin-top:3%;">

  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color:transparent"
          >
    <!-- Section: Social media -->
    <section
             class="d-flex justify-content-between p-4"
             style="background-color:transparent"
             >
      <!-- Left -->
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="https://www.instagram.com/ungal_tamil_gamer/" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/venkatesh-kumar-b-496624222" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/account" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold" style="color:yellow">Company name</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color:red; height: 2px"
                />
            <p>
              Spirited is a digital platform created by Valve Corporation to serve as a distributor of PC games. The Spirited client allows users to install PC games online directly to their cloud drives after purchase. Spirited users are welcome to post their reviews, upload self-made content, buy DLCs, and much more!
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold"  style="color:yellow">Services</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: red; height: 2px"
                />
            <p>
              <a routerLink="/register" class="text-white" style="text-decoration: none;"><i class="fa-solid fa-address-card" ></i>&nbsp; &nbsp; Register</a>
            </p>
            <p>
              <a routerLink="/login" class="text-white"  style="text-decoration: none;"><i class="fa-solid fa-right-to-bracket"></i>&nbsp; &nbsp; Login</a>
            </p>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold"  style="color:yellow">Details</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <div>
              <h6 title="Account Details" class="text-white">Your Account</h6>
          </div>

            <div>
              <h6  class="text-white" style="margin-top:3%;">Shipping Rates:</h6>
              The shipping address is the physical address needed to deliver the parcel. While the billing address is the address registered with your credit card or bank details. When someone places an online order with credit card details, the store asks for billing details.
            </div>
            <p>
              <a routerLink="/footer" class="text-white">Privay Policy</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold"  style="color:yellow">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color:red; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> Bhavani, Kpm 315A/170, Kalaimagal Street</p>
            <p><i class="fas fa-envelope mr-3"></i>venkateshkumar1311@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> +91 XXXXX-XXX75</p>
            <p><i class="fas fa-print mr-3"></i>+91  XXXXX-XXX75</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color:transparent;color:lavender"
         >
      © 2023 Copyright:
      <a class="text-white" style="color:red" href="https://spirited.com/"
         >Spirited.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</div>
<!-- End of .container -->


</div>
